# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Jupyter
*.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx
*.xls

# Python cache / logs
*.log
